<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-almena-micomponente2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        background-color: white;
      }
    </style>
    <div>
      <h2>Gestión de Posts</h1>
      <div>
        <h1>Añadir nuevo post</h2>
        <div class="group">
          <div>
            <label>Título</label>
          </div>
          <div>
            <input type="text" value="{{titulo::input}}" required>
          </div>
        </div>
        <div>
          <div>
            <label>Texto</label>
          </div>
          <div>
            <input type="text" value="{{texto::input}}" required>
          </div>
        </div>
        <div>
          <div>
            <label>Nombre Autor</label>
          </div>
          <div>
            <input type="text" value="{{nombre::input}}" required>
          </div>
        </div>
        <div>
          <div>
            <label>Apellido Autor</label>
          </div>
          <div>
            <input type="text" value="{{apellido::input}}" required>
          </div>
        </div>
        <div>
          <button type="button" name="button" on-click="guardarPost">Añadir Post</button>
        </div>
      </div>
      <div>
        <h1>Listado de posts</h2>
        <table id="tablaPosts">
          <thead>
            <th>Id</th>
            <th>Título</th>
            <th>Texto</th>
            <th>Autor</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="[[listado]]">
              <tr>
                <td>{{item._id.$oid}}</td>
                <td>{{item.titulo}}</td>
                <td>{{item.texto}}</td>
                <td>{{item.autor.nombre}} {{item.autor.apellido}}</td>
              </tr>
            </template>
          </tbody>
        </table>
    </div>
  </div>
</template>
<script>
      const URL_MLAB = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts";
      const API_KEY = "?apiKey=U-z_rBzfXQPvIVJ8TJnIodkwP3bdjv5t";
      Polymer({
        is: 'my-almena-micomponente2',
        properties: {
          listado: Array
        },
        listeners:{

        },
        ready: function(){
          var request = new XMLHttpRequest();
          request.open("GET", URL_MLAB+API_KEY, false);
          request.setRequestHeader("Content-Type", "application/json");
          request.send();
          this.listado=JSON.parse(request.responseText);
        },
        consultarPosts: function(){
          var request = new XMLHttpRequest();
          request.open("GET", URL_MLAB+API_KEY, false);
          request.setRequestHeader("Content-Type", "application/json");
          request.send();
          this.listado=JSON.parse(request.responseText);
        },
        guardarPost: function () {
          var request = new XMLHttpRequest();
          request.open("POST", URL_MLAB+API_KEY, false);
          request.setRequestHeader("Content-Type", "application/json");
          var nuevo_post = JSON.stringify({"titulo": this.titulo, "texto": this.texto, "autor": {"nombre": this.nombre, "apellido": this.apellido}});
          request.send(nuevo_post);

          var request = new XMLHttpRequest();
          request.open("GET", URL_MLAB+API_KEY, false);
          request.setRequestHeader("Content-Type", "application/json");
          request.send();
          this.listado=JSON.parse(request.responseText);
        },
      })
  </script>
</dom-module>
