<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-almena-micomponente">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        background-color: white;
      }
    </style>
    <div><span>Mi primer componente</span></div>
    <div><span>[[saludo]]</span></div>
    <div><span>[[contador]]</span></div>  
  </template>
    <script>
      Polymer({
        is: 'my-almena-micomponente',
        properties: {
          saludo: String,
          contador: Number
        },
        listeners:{
          'tap': 'incrementarContador'
        },
        incrementarContador: function(){
          this.contador = this.contador +1;
        }
      })
    </script>
</dom-module>
